body{
	background-color: black;
}

#forfloat{
	animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#without{
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#bignut{
	z-index: -1;
	width: 9%;
	
	display: block;
	margin-left: 65.6%;
	margin-right: auto;
	margin-top: -40%;
	position: absolute;
	-webkit-animation: rotation1 3s infinite linear;

}


#mediumnut{
	z-index: 5;
	width: 7%;
	
	display: block;
	margin-left: 71.4%;
	margin-right: auto;
	margin-top: -31.8%;
	position: absolute;
	-webkit-animation: rotation2 2s infinite linear;
}
#smallnut{
	z-index: 4;
	width: 5%;
	
	display: block;
	margin-left: 65.8%;
	margin-right: auto;
	margin-top: -31%;
	position: absolute;
	-webkit-animation: rotation2 1s infinite linear;
	overflow: hidden;
	color: white;
}

#lettero{
	z-index: 1;
	width: 9.2%;
	
	display: block;
	margin-left: 64.5%;
	margin-right: auto;
	margin-top: -40%;
	position: absolute;
	-webkit-animation: rotation 6s infinite linear;

}

#coming{
	font-family: 'Raleway', sans-serif;
	font-size: 100%;
	color: white;

}

#ecelllogo{
	width: 11%;
	position: absolute;
	margin-top: -3%;
}

@-webkit-keyframes rotation1 {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}


@-webkit-keyframes rotation2 {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(-359deg);
		}
}


@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}